{% extends "base.html.twig" %}

{% block title %}
    Movies Page
{% endblock %}

{% block body %}
    <h1 class="bg-blue-500 text-center font-bold text-2xl">Mohamed</h1>
    <img src="{{asset('build/images/image1.c6471b88.jpg')}}" alt="">
    <p>Copyright {{author}}</p>
{% endblock %}
